body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
}

main {
  position: relative;
}

section {
  width: 70%;

  padding: 16px;
  border-radius: 4px;
  margin: 32px auto;

  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.inputs input {
  width: 90%;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 4px 8px;
  margin-bottom: 8px;
  color: #777;
}

.inputs input:last-child {
  margin-bottom: 0;
}

.inputs label {
  font-size: 12px;
  text-transform: uppercase;
  color: #777;
}

button {
  border: none;
  padding: 8px 16px;
  background-color: rgb(16, 184, 80);
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: rgb(14, 158, 69);
}
